#qd_fan

[gcode_macro M106]
gcode:
    {% set p = params.P|default(0)|int %}

    {% if p == 2 and printer["fan_generic auxiliary_cooling_fan"] is defined %}
        {% if params.S is defined %}
            SET_FAN_SPEED FAN=auxiliary_cooling_fan SPEED={(params.S|float / 255.0)}
        {% else %}
            SET_FAN_SPEED FAN=auxiliary_cooling_fan SPEED=1
        {% endif %}
    {% endif %} 

    {% if p == 0 and printer["fan_generic cooling_fan"] is defined %}
        {% if params.S is defined %}
            SET_FAN_SPEED FAN=cooling_fan SPEED={(params.S|float / 255.0)}
            
        {% else %}
            SET_FAN_SPEED FAN=cooling_fan SPEED=1
        {% endif %}
    {% endif %} 

    {% if p == 3 and printer["fan_generic chamber_circulation_fan"] is defined %}
        {% if params.S is defined %}
            SET_FAN_SPEED FAN=chamber_circulation_fan SPEED={(params.S|float / 255.0)}
            {% if printer["heater_generic chamber"] is defined and params.S|float >0.0 %}
                SET_HEATER_TEMPERATURE_SCALED HEATER=chamber TARGET=0
            {% endif %}
        {% else %}
            SET_FAN_SPEED FAN=chamber_circulation_fan SPEED=1
        {% endif %}
    {% endif %} 

    {% if p == 4 and printer["output_pin polar_cooler"] is defined %}
        {% if params.S is defined %}
            SET_PIN PIN=polar_cooler VALUE={1 if (params.S|int / 255) > 0 else 0}
        {% else %}
            SET_PIN PIN=polar_cooler VALUE=1
        {% endif %}
    {% endif %}

[gcode_macro M107]
gcode:  
    SET_FAN_SPEED FAN=cooling_fan SPEED=0
