# Copyright (C) 2022 Justin Schuh <code@justinschuh.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license.


# P （默认值：2)- 停车模式
# P=0 - 如果当前Z位置低于Z停车高度，则将喷嘴升高至Z停车高度。
# P=1 - 无论当前Z轴位置如何，喷嘴都将上升/下降以达到Z轴停车高度。
# P=2 - 喷嘴高度将提升Z-park量，但不会超过机器的Z高度限制。
# X（默认值：variable_park_x）- 绝对X停车坐标。
# Y（默认值：variable_park_y）- 绝对Y停车坐标。
# Z（默认值：variable_park_z） - 根据P参数应用的Z停车坐标。
# LAZY（默认值：1） - 如果需要，将校准任何未校准的轴，如果已经校准并停好位（即使P=2），则不会移动任何轴。



[gcode_macro park]
description: Park the toolhead
  Usage: PARK [P=<0|1|2>] [X=<pos>] [Y=<pos>] [Z=<pos>] [LAZY=<1|0>]
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set LAZY = params.LAZY|default(1)|int %}
  {% if printer.toolhead.homed_axes != "xyz" %}
    {% if LAZY %}
      LAZY_HOME
    {% else %}
      {action_raise_error("Must home axes first.")}
    {% endif %}
  {% endif %}

  # Z position type from G27 (if below, absolute, relative)
  {% set P = (params.P|default(2))|int %} # Default to 2 because it's sanest.
  {% set X = params.X|default(km.park_x)|float %}
  {% set Y = params.Y|default(km.park_y)|float %}
  {% set Z = params.Z|default(km.park_z)|float %}

  M400
  _CHECK_KINEMATIC_LIMITS X="{X}" Y="{Y}" Z="{Z}"
  _PARK_INNER X="{X}" Y="{Y}" Z="{Z}" P="{P}" LAZY="{LAZY}"

[gcode_macro _park_inner]
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set travel_speed_xy = km.travel_speed_xy %}
  {% set travel_speed_z = km.travel_speed_z %}

  {% set position = printer.gcode_move.gcode_position %}
  {% set origin = printer.gcode_move.homing_origin%}

  # Use the taller of the highest printed layer or the current Z height, which
  # should help avoid crashes (e.g. when a sequential print in progress).
  {% set clearance_z = (0,position.z) | max %}
  {% set P = params.P|int %}
  {% set X = params.X|float - origin.x %}
  {% set Y = params.Y|float - origin.y %}
  {% set Z = params.Z|float %}
  {% set LAZY = params.LAZY|int %}

  # Convert everything to absolute coordinates.
  {% if P == 0 %} # Move absolute to Z if below current Z
    {% if clearance_z > Z %}
      {% set Z = clearance_z %}
    {% endif %}
  {% elif P == 1 %} # Move Z absolute.
      {% set Z = Z - origin.z %}
  {% elif P == 2 %} # Move Z relative
    {% set Z = Z + clearance_z %}
  {% else %}
    {action_raise_error("Invalid parameter P=%i. Value must be 0, 1, or 2." |
        format(P)) }
  {% endif %}

  # Clamp to the printer limits.
  {% set Z = ((Z, printer.toolhead.axis_maximum.z - origin.z)|min,
              printer.toolhead.axis_minimum.z - origin.z)|max %}

  # Don't move if it's a lazy park and we're already in position.
  {% if (not LAZY) or P != 2 or X != position.x or Y != position.y 
        or Z < clearance_z %}
    SAVE_GCODE_STATE NAME=_KM_PARK
    G90
    G0 Z{Z} F{travel_speed_z}
    G0 X{X} F{travel_speed_xy}    
    G0 Y{Y-30} F{travel_speed_xy}    #先固定移动到Y的-20位置
    G0 Y{Y} F2000
    RESTORE_GCODE_STATE NAME=_KM_PARK MOVE=0
  {% endif %}


[gcode_macro g27]
description: Parks the toolhead.
  Usage: G27 [P=<0|1|2>]
gcode:
  # Wraps any arguments for the PARK macro and defaults P=0 for Marlin compat.
  PARK P={params.P|default(0)} {% for k in params|reject("in", "GP") %}{
    ' '~k~'="'~params[k]~'"'
    }{% endfor %}

[gcode_macro CLEAR_NOZZLE_PLR]
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}
    {% set km = printer["gcode_macro _km_globals"] %}
    G91
    G1 Z{5} F900 
    G90

    MOVE_TO_TRASH

    M109 S{hotendtemp}

    G92 E0
    G1 E80 F400
    M106 S255

    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000
    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000
    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000
    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x} F6000
