
# =============================================================================
# QIDI MAX4专用宏库 - QD (QIDI) 定制功能模块
# =============================================================================


[gcode_macro MOVE_TO_TRASH]
gcode:
#    _CG28
    {% set km = printer["gcode_macro _km_globals"] %}

    G28 O X Y  # 条件归位XY轴(O参数跳过已归位的轴)
    M204 S10000  # 设置高加速度10000mm/s²用于快速移动
    {% if (printer.gcode_move.position.y) > km.print_max[1] %}
        {% if (printer.gcode_move.position.x) > 110 or (printer.gcode_move.position.x) < 76 %}
            G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # 阶段1: 先Y向前移动30mm避让
            G1 X{km.park_x} F{km.travel_speed_xy}       # 阶段2: X轴移动到停放X坐标
            G1 Y{km.park_y} F2000                       # 阶段4: Y轴移动到停放坐标
                   
        {% endif %}
        G1 X{km.park_x} Y{km.park_y} F{km.travel_speed_xy}
    {% else %}
        G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # 阶段1: 先Y向前移动30mm避让
        G1 X{km.park_x} F{km.travel_speed_xy}       # 阶段2: X轴移动到停放X坐标
        G1 Y{km.park_y} F2000       # 阶段3: Y轴移动到垃圾桶最终位置
        
    {% endif %}


[gcode_macro ENABLE_ALL_SENSOR]
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_switch_sensor ENABLE=1
    {% if printer["filament_motion_sensor box_motion_sensor"] and printer.save_variables.variables.enable_box == 1 %}
        CLEAR_MOTION_DATA SENSOR=box_motion_sensor
    {% endif %}

[gcode_macro DISABLE_ALL_SENSOR]
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_switch_sensor ENABLE=0
    {% if printer["filament_motion_sensor box_motion_sensor"] %}
        SET_FILAMENT_SENSOR SENSOR=box_motion_sensor ENABLE=0
    {% endif %}




[gcode_macro CLEAR_NOZZLE]
gcode:
    {% set extruder_temp = params.HOTEND|default(250)|int %}
    {% set km = printer["gcode_macro _km_globals"] %}

    G1 Z20 F480
    MOVE_TO_TRASH  
    M400  
    M109 S{extruder_temp}  
    G92 E0
    G1 E5 F80
    G92 E0
    G1 E200 F300
    M400
    M106 S255

    G92 E0
    G1 E-4 F1000

    M104 S140  
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={extruder_temp-30}  


    SET_PRINT_SUB_STATUS SUB_STATUS=clear_nozzle  


    M204 S10000  

    G1 X109 F10000
    G1 X95 F6000
    G1 X109 F10000
    G1 X95 F6000    #刮擦料刮板

    G1 X154 F15000
    G1 Y330 F6000
    G1 Z-0.2 F480

    M106 S255 
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150  
 

    G2 I0.5 J0.5 F480 
    G2 I0.5 J0.5 F480  
    G2 I0.5 J0.5 F480    #清理喷嘴尖1

    G91
    G1 X15 F200
    G1 Y2 F200
    G1 X-15 F200
    G1 Y-2 F200
    G1 X15 F200      #清理喷嘴尖2
    G90

    G2 I0.5 J0.5 F480  
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480    #清理喷嘴尖3
    G1 Z10
    G1 Y{km.park_y - 30} F10000
    MOVE_TO_TRASH
    M400  # 等待所有清理动作完成


    G1 X123 F12000
    G1 X110 F12000
    G1 X123 F12000
    G1 X110 F12000
    G1 X123 F12000
    G1 X110 F12000
    G1 X123 F12000
    G1 X110 F12000   #刮擦料硅胶
    G1 X140 F12000   #擦料结束
    M106 S0 
    M400
    M118 Nozzle cleared

    G1 Y{km.park_y - 30} F12000
    M106 S0  

    SET_PRINT_SUB_STATUS SUB_STATUS=""


#校准的热床流程
[gcode_macro M4029]   
gcode:
    {% set bedtemp = params.S|default(60)|float %}
    {% set restart = params.R|default(1)|int %}  # 新增重启参数，默认值为1（重启）
    {% set km = printer["gcode_macro _km_globals"] %}
    SET_PRINT_MAIN_STATUS MAIN_STATUS=leveling_calibration   # 设置主状态为校准中

    # === 系统初始化 ===
    DISABLE_ALL_SENSOR  # 禁用所有传感器避免干扰
#    M104 S140  # 设置挤出机温度140°C
    M140 S{bedtemp}  # 设置床温度(用户指定或默认60°C)
    SAVE_VARIABLE VARIABLE=z_offset VALUE=0  # 重置Z偏移值为0
    SET_GCODE_OFFSET Z=0 MOVE=0  # 清除当前G代码Z偏移

    M4031  
    G28   
    M400  

    CLEAR_NOZZLE HOTEND=260  
    M104 S140  # 降低温度到140°C
    CUT_FILAMENT_1
    SET_PRINT_SUB_STATUS SUB_STATUS=extruder_cooling  
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=140  
    CUT_FILAMENT_1
    Z_TILT_ADJUST  
    G28  
    G1 z10 F480  
    BED_MESH_CALIBRATE 

    G0 Z50 F480  
    G0 X{km.print_max[0]/2} Y{km.print_max[1]/2} F9000  
    M400  #
    SET_PRINT_MAIN_STATUS MAIN_STATUS=ready  
    M104 S0
    M140 S0
    M141 S0
    
    {% if restart == 1 %}
        SAVE_CONFIG  # 保存配置并重启
    {% else %}
        SAVE_CONFIG_QD  # 保存配置不重启
        M104 S0
        M140 S0
        M141 S0
    {% endif %}


[gcode_macro M4031]
gcode:
    # === 状态管理 ===
    SET_PRINT_SUB_STATUS SUB_STATUS=z_titl_homing  # 设置子状态
    SET_STEPPER_ENABLE STEPPER=stepper_z enable=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 enable=1


    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current * 0.8 }
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current * 0.8 }
    M400
    REVERSE_HOMING  

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current}
    G91  
    G1 Z-30 F480  
    G90  


    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current * 0.8 }
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current * 0.8 }
    M400
    REVERSE_HOMING  

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current}
    G91  
    G1 Z-30 F480  
    G90  



[gcode_macro M901]
gcode:
    {% set restart = params.R|default(1)|int %}  # 新增重启参数，默认值为1（重启）

    SET_PRINT_MAIN_STATUS MAIN_STATUS=input_shaping  
    M104 S0
    M140 S0
    M141 S0
    G28  

    SET_PRINT_SUB_STATUS SUB_STATUS=resonance

    SHAPER_CALIBRATE  
    SET_PRINT_MAIN_STATUS MAIN_STATUS=ready  

    {% if restart == 1 %}
        SAVE_CONFIG  # 保存配置并重启
    {% else %}
        SAVE_CONFIG_QD  # 保存配置不重启
    {% endif %}
    



[gcode_macro M290]
gcode:
    SET_GCODE_OFFSET Z_ADJUST={params.Z}  # 调整当前Z轴偏移值

[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=caselight VALUE=1

[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0


[gcode_macro M1001]
description: 自动共振器
variable_autotune_shapers: 'maz'
gcode:
  #  SET_INPUT_SHAPER SHAPER_TYPE_X={autotune_shapers}
  #  SET_INPUT_SHAPER SHAPER_TYPE_Y={autotune_shapers}

#打印Z_OFFSET管理宏
[gcode_macro M1002]   
description: 管理Zoffset    
gcode:
    _km_apply_print_offset RESET={params.R|default(0)|int} SET={params.A|default(0)|int} SAVE={params.S|default(0)|int}

[gcode_macro G29.0]
description: 清理网床数据
gcode:
    {% if printer.bed_mesh %}
        BED_MESH_CLEAR
    {% endif %}

[gcode_macro M1004]
description: 根据设置开启空调
gcode:
    {% set polar_cooler = printer.save_variables.variables.enable_polar_cooler|default(1) %}
    M106 P4 S{polar_cooler}                    #根据设置开启空调




[gcode_macro M0]
gcode:
    PAUSE

[gcode_macro move_screw1]
gcode:
    G1 Z5 F600
    G1 X32.5 Y32.5 F12000
    G1 Z0 F300

[gcode_macro move_screw2]
gcode:
    G1 Z5 F600
    G1 X287.5 Y32.5 F12000
    G1 Z0 F300

[gcode_macro move_screw3]
gcode:
    G1 Z5 F600
    G1 X287.5 Y287.5 F12000
    G1 Z0 F300

[gcode_macro move_screw4]
gcode:
    G1 Z5 F600
    G1 X32.5 Y287.5 F12000
    G1 Z0 F300

[gcode_macro M4030]
gcode:    
    BED_MESH_CLEAR      
    SET_GCODE_OFFSET Z=0 MOVE=0
    M4031
    G28
    G1 X287.5 Y32.5 F9000
    G28 Z
    G1 Z0 F600

[gcode_macro M1006]
description: 设置Z坐标
gcode:
    G92 Z{params.Z}



# 自动调平和共振补偿顺序执行
[gcode_macro M4032] 
gcode:
    {% set bedtemp = params.S|default(60)|float %}
    SET_PRINT_MAIN_STATUS MAIN_STATUS=leveling_calibration # 设置主状态为校准中
    # === 系统初始化 ===
    DISABLE_ALL_SENSOR # 禁用所有传感器避免干扰
    # M104 S140 # 设置挤出机温度140°C
    M140 S{bedtemp} # 设置床温度(用户指定或默认60°C)
    SAVE_VARIABLE VARIABLE=z_offset VALUE=0 # 重置Z偏移值为0
    SET_GCODE_OFFSET Z=0 MOVE=0 # 清除当前G代码Z偏移
    M4031 
    G28 
    M400 
    CLEAR_NOZZLE HOTEND=260 
    M104 S140 # 降低温度到140°C
    CUT_FILAMENT_1
    SET_PRINT_SUB_STATUS SUB_STATUS=extruder_cooling 
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=140 
    CUT_FILAMENT_1
    Z_TILT_ADJUST 
    G28 
    G1 z10 F480 
    BED_MESH_CALIBRATE 
    G0 Z50 F480 
    G0 X190 Y190 F9000 
    M400 #
    M104 S0
    M140 S0
    M141 S0
    SAVE_CONFIG_QD # 保存配置不重启
    M104 S0
    M140 S0
    M141 S0
    SET_PRINT_MAIN_STATUS MAIN_STATUS=input_shaping 
    SET_PRINT_SUB_STATUS SUB_STATUS=resonance
    SHAPER_CALIBRATE 
    SET_PRINT_MAIN_STATUS MAIN_STATUS=ready 
    SAVE_CONFIG


[gcode_macro prepare_filament_dry]
gcode:
    G28
    G1 Z250 F480
    G1 Y320 F12000

[gcode_macro restore_factory_settings]
gcode:
    G28
    G1 X320 Y320 F7800
    G1 Z250 F600